{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <font size='10' itemprop="headline"><strong>
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        {{ title }}
      {% endif %}
    </strong></font>

    {% if post.authors %}
      <br><font size='3'>{{ post.authors }}</font>
    {% endif %}

    {% if post.conf %}
      <br><font size='3'><em>{{ post.conf }}{% if post.conf_shortname %}
        ({{ post.conf_shortname}})
    {% endif %}, {{post.year}}</em></font>
    {% endif %}

    {% if post.highlight %}
    <br><font size='3' color="Tomato">{{post.highlight}}</font>
    {% endif %}
    
    <p class="link-buttons">
      {% if post.paperurl %}<a href=" {{ post.paperurl }} " target="_blank">Paper</a>{% endif %}
      {% if post.arxivurl %}<a href=" {{ post.arxivurl }} " target="_blank">arXiv</a>{% endif %}
      {% if post.codeurl %}<a href=" {{ post.codeurl }} " target="_blank">Code</a>{% endif %}
      {% if post.dataurl %}<a href=" {{ post.dataurl }} " target="_blank">Data</a>{% endif %}
      {% if post.posterurl %}<a href=" {{ post.posterurl }} " target="_blank">Poster</a>{% endif %}
      {% if post.slideurl %}<a href=" {{ post.slideurl }} " target="_blank">Slide</a>{% endif %}
    </p>

  <hr width="80%">
  </article>
</div>
